body {
  box-sizing: content-box;
  padding: 15px;
}

#to-do-list {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  gap: 1px;
  border: none;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#to-do-list div {
  padding-inline-start: 15px;
  padding-inline-end: 15px;
}

#list-title {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  background-color: white;
  padding-inline-end: 15px;
}

.task-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

input {
  margin: 0;
}

.task-description {
  padding-left: 10px;
}

.task-row i {
  margin-left: auto;
}

#new-task-description {
  width: 98%;
  border: none;
  padding: 15px;
  font-style: italic;
  color: gray;
}

#clear-completed {
  text-align: center;
  padding: 20px;
}
